<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Maine Chi Alpha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a {% if page.url == '/values/' || page.url == '/staff/' || page.url == '/faq/' || %} class="nav-item nav-link active"{% else %} class="nav-item nav-link"{% endif %} href="/staff/">About Us</a>
      <a {% if page.url == '/groups/' %} class="nav-item nav-link active"{% else %} class="nav-item nav-link"{% endif %} href="/groups/">Connect</a>
      <a {% if page.url == '/missions/' %} class="nav-item nav-link active"{% else %} class="nav-item nav-link"{% endif %} href="/missions/">Missions</a>
      <a {% if page.url == '/resources/' %} class="nav-item nav-link active"{% else %} class="nav-item nav-link"{% endif %} href="/resources/">Resources</a>
      <a {% if page.url == '/give/' %} class="nav-item nav-link active"{% else %} class="nav-item nav-link"{% endif %} href="/give/">Give</a>
    </div>
  </div>
</nav>
