<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Maine Chi Alpha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a {% if page.url == '/values/' or page.url == '/staff/' or page.url == '/faq/' %} class="nav-item nav-link active"{% else %} class="nav-item nav-link"{% endif %} href="/staff/">About Us</a>
      <a {% if page.url == '/groups/' or page.url == '/worship/' or page.url == '/retreats/' or page.url == '/activities/' %} class="nav-item nav-link active"{% else %} class="nav-item nav-link"{% endif %} href="/groups/">Connect</a>
      <a {% if page.url == '/foreign/' or page.url == '/domestic/' %} class="nav-item nav-link active"{% else %} class="nav-item nav-link"{% endif %} href="/foreign/">Missions</a>
      <a {% if page.url == '/contact/' %} class="nav-item nav-link active"{% else %} class="nav-item nav-link"{% endif %} href="/contact/">Contact Us</a>
      <a {% if page.url == '/give/' %} class="nav-item nav-link active"{% else %} class="nav-item nav-link"{% endif %} href="/give/">Give</a>
    </div>
    <div class="nav-social navbar-nav">
      <div class="instagram m-2"><a href="{{ site.instagram_url }}" class="instagram-link"><img src="{{ site.url }}/images/instagram.svg"></a></div>
      <div class="facebook m-2"><a href="{{ site.facebook_url }}" class="facebook-link"><img src="{{ site.url }}/images/facebook.svg"></a></div>
    </div>
  </div>
</nav>
